.footer {
  height: 200px;
  background-color: #f1ebe0;
  text-align: center;
}

.footer-links {
  padding-top: 36px;
}

.footer-links a {
  font-size: 35px;
  color: black;
  margin-left: 8px;
  margin-right: 8px;
}
